<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/home" class="nav-link" routerLinkActive="active">Start Framework</a>
    </div>
    <div class="navbar-nav">
      <a routerLink="/about" class="nav-link" routerLinkActive="active">ABOUT</a>
      <a routerLink="/portfolio" class="nav-link" routerLinkActive="active">PORTFOLIO</a>
      <a routerLink="/contact" class="nav-link" routerLinkActive="active">CONTACT</a>
    </div>
  </div>
</nav>
